#Train {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

#Train td {
  border: 1px solid #ddd;
  padding: 8px;
}

#Train tr:nth-child(even){background-color: #f2f2f2;}

#Train tr:hover {background-color: #ddd;}

#Train th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-family: 'Times New Roman', Times, serif
}


